#personalbutton {
    display: block;
}

#corporatebutton {
    display: none;
}

.chart {
    width: 90%;
}

.redtext {
    color: red;
}

.greentext {
    color: green;
}

th, td {
    padding: 5px;
}