
{{> header}}
<title>ATS Portal</title>
</head>

<body>
    <div class="container">
        {{> menu}}
        <h1>ATS Portal</h1>
        <hr>
        <h2>User types</h2>
        <div class="row">
            <div class="col">
                <strong>Vex Securities</strong>
                <br>Registed Principals and Representatives of Vex Securities LLC
                <br><a href="register2"><button class="btn btn-primary">Register</button></a>
            </div>
            <div class="col">
                <strong>Users/ATS Subscribers</strong>
                <br>Accredited investors who have access to the ATS as members.
                <br><a href="register"><button class="btn btn-primary">Register</button></a>
            </div>
            <div class="col">
                <strong>Audit</strong>
                <br>Read Only. Auditors, regulators and Vex Securities software engineers will be able to view and query.
                <br><a href="register2"><button class="btn btn-primary">Register</button></a>
            </div>
        </div>
        <hr>
        <h2>Database Tables</h2>
        <div class="row">
            <div class="col">
                <strong>BD Account Holder Data</strong>
                <br>Member required data for maintaining an account with Vex Securities and membership of the ATS. This will also include pending accounts and records of representative proposals and principal reviews.
                <hr><strong>Users:</strong> All Users
                <br><strong>Personals:</strong> Application for Individual Account
                <br><strong>Corporates:</strong> Application for Corporate Account (not implemented for the Demo - <a href="https://vexsecurities.com/assets/corporate.html" target="_blank">template</a>)
            </div>
            <div class="col">
                <strong>Approved Securities</strong>
                <br>The list of Securities that can be traded on the ATS.
                <hr><strong>Stocks:</strong> Table with approved securities information
            </div>
            <div class="col">
                <strong>Central Limit Order Book</strong>
                <br>A list of all open orders for all approved securities, in price then time priority. All new orders will be executed against or added to the order book depending on the particulars of the order.
                <hr><strong>Orders:</strong> Table containing all orders plus status
            </div>
            <div class="col">
                <strong>Transaction Record</strong>
                <br>All matched orders will be recorded here and sent to the Transfer Agent for settlement.
                <hr><strong>Matches:</strong> status "matched" or "settled"
            </div>
            <div class="col">
                <strong>Queries</strong>
                <br>All queries and any responses will be recorded here with timestamps.
                <hr>Not implemented for the Demo
            </div>
            <div class="col">
                <strong>Change Log</strong>
                <br>All changes to the overall database along with the identity of the participant responsible for the change shall be located here for audit purposes.
                <hr>Not implemented for the Demo
            </div>
        </div>
    </div>
{{> footer}}