<!DOCTYPE html>
<html lang="en">
<head>
{{> header}}
<title>ATS Portal</title>
</head>

<body>
    <div class="container">
        <h1>ATS Portal</h1>
        <p>This will be a "control panel" to access the various elements of the ATS program.
        </p>
        <div>
            User types
            <div>
                Vex Securities
            </div>
            <div>
                Account Holders/Members
            </div>
        </div>
        <div>
            Database Tables
            <div>
                BD Account Holder Data
            </div>
            <div>
                Approved Securities
            </div>
            <div>
                Central Limit Order Book
            </div>
            <div>
                Transaction Record
            </div>
            <div>
                Queries
            </div>
            <div>
                Change Log
            </div>
        </div>
    </div>
{{> footer}}
</body>
</html>