
{{> header}}
<title>ATS Portal - Register Customer</title>
</head>
<body>
    <div class="container">
        {{> menu}}
        <h1>ATS Demo - Register as a User Page</h1>
        <form action="/register" method="POST">
            <div class="row">
                <div class="col-4">
                    <label for="inputUsername" class="form-label">User Name</label>
                    <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Enter User Name">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Enter a password">
                </div>
            </div>
            <hr />
            <h3>Contact Information:</h3>
            <div class="row">
                <div class="col-4">
                    <label for="contactFirstname" class="form-label">First Name</label>
                    <input type="text" class="form-control" placeholder="First Name" name="firstname" id="contactFirstname">
                </div>
                <div class="col-6">
                    <label for="contactLastname" class="form-label">Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" name="lastname" id="contactLastname">
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label for="contactPrefPhone" class="form-label">Phone Type</label>
                    <select class="form-select" aria-label="Default select" name="prefphone" id="contactPrefPhone">
                        <option selected="">Select</option>
                        <option value="Mobile">Mobile</option>
                        <option value="Office">Office</option>
                        <option value="Home">Home</option>
                    </select>
                </div>
                <div class="col-4">
                    <label for="contactPhoneNumber" class="form-label">Phone Number</label>
                    <input type="tel" class="form-control" placeholder="Format: 123-456-7890" name="phonenumber" id="contactPhoneNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="contactEmail" class="form-label">Email Address</label>
                    <input type="email" class="form-control" placeholder="Enter your email" name="email" id="contactEmail">
                </div>
            </div>
            <hr />
            <h3>Account Type:</h3>
            <div class="form-check">
                <label class="form-check-label" for="accounttype1">Personal - Individual</label>
                <input type="radio" class="form-check-input" checked id="accounttype1" name="accounttype" value="Personal">
            </div>
            <div class="form-check">
                <label class="form-check-label" for="accounttype2">Corporate - Corp, LLC</label>
                <input type="radio" class="form-check-input" id="accounttype2" name="accounttype" value="Corporate">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    {{#message}}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    {{/message}}
{{> footer}}
