<!DOCTYPE html>
<html lang="en">
<head>
{{> header}}
<title>ATS Portal</title>
</head>

<body>
    <div class="container">
        {{> menu}}
        <form action="/register" method="POST">
            <hr />
            <table>
                <tr><th>Contact Information:</th></tr>
                <tr><td><label for = "contacttitle">Name:</label></td>
                    <td><select id="contacttitle" name="contacttitle">
                            <option value="Mr.">Mr.</option>
                            <option value="Ms.">Ms.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Miss">Miss</option>
                            <option value="Dr.">Dr.</option>
                        </select>
                        <input required type="text" id="contactfirstname" name="contactfirstname" pattern="^[a-zA-Z][a-zA-Z0-9-_\.']{1,25}$" placeholder="first name">
                        <input required type="text" id="contactlastname" name="contactlastname" pattern="^[a-zA-Z][a-zA-Z0-9-_\.']{1,35}$" placeholder="last name"></td></tr>
                <tr><td><label for="contactprefphone">Phone:</label></td>
                    <td><select required id="contactprefphone" name="contactprefphone">
                            <option value="Mobile">Mobile Phone</option>
                            <option value="Office">Office Phone</option>
                            <option value="Home">Home Phone</option>
                        </select>
                        <input required type="text" id="contacttelnum" name="contacttelnum" placeholder="telephone number"></td></tr>
                <tr><td><label for="contactemail">Email:</label></td>
                    <td><input type="email" id="contactemail" name="contactemail" required placeholder="name@company.com"></td></tr>
            </table>
            <hr />
            <h2>Account Type:</h2>
            <input type="radio" checked id="accounttype1" name="accounttype" value="Personal" onclick="changeButtonText('Next: Personal Details')"/><label for="accounttype1">Personal</label><br>
            <input type="radio" id="accounttype2" name="accounttype" value="Corporate" onclick="changeButtonText('Next: Corporate Details')"/><label for="accounttype2">Corporate</label><br>
	        <input type="submit" id="submitbutton" class="buttoncolor" value="Next: Personal Details" />
        </form>
        <hr />
        <p>Note: The information collected in this form will be used exclusively for the purposes of registering, logging into and accessing an account at Vex Securities. In order to use the ATS to trade CUTEs, you will need to have a separate account at Flux Registry LLC in order to initiate and settle trades. By opening an account at Vex Securities, you agree that information may be shared with Flux Registry for the purpose of initiating trades and settlement of those trades. You will be asked to confirm your agreement with a check box when placing orders each time.</p>
        <p>Other important information is contained in our Legal Disclaimer and Privacy Policies documents.</p>
        <hr />
    </div>
{{> footer}}
<script>
function changeButtonText(value) {
	var submit = document.getElementById('submitbutton');
	submit.value = value;
}
</script>
</body>
</html>