<!DOCTYPE html>
<html lang="en">
<head>
{{> header}}
<title>Demo Start Page</title>
</head>

<body>
    <div class="container">
    <h1>Starting Page</h1>
    <p>This NodeJS project is a demonstration program to show how Vex Securities LLC plans to implement an Alternative Trading System for the purpose of trading Convertible Utility Token + Equity (CUTE) Securities.
    </p>
    <a href="#" class="btn btn-primary" role="button">ATS Portal</a>
    <a href="#" class="btn btn-success" role="button">TA Portal</a>
    </div>
{{> footer}}
</body>
</html>