<!DOCTYPE html>
<html lang="en">
<head>
{{> header}}
<title>TA Portal</title>
</head>

<body>
    <div class="container">
        <h1>TA Portal</h1>
        <p>This will be a "control panel" to access the various elements of the TA program.
        </p>
    </div>
{{> footer}}
</body>
</html>