{{> header}}
    <title>Principal Account Review and Approval</title>
</head>
<body>
    <div class="container">
        {{> principalmenu}}
        <h2>ATS Demo - Principal Account Review & Approval</h2>
        <hr>
        <button type="submit" class="btn btn-primary">PDF Form</button> <button type="submit" class="btn btn-primary">Identification</button> <button type="submit" class="btn btn-primary">Attestation</button> <button type="submit" class="btn btn-primary">AML/BSA/PEP Checks</button>
        <table>
            {{#contact}}
            <tr><th>Category</th><th>Details</th></tr>
            <tr><td>First Name</td><td>{{firstname}}</td></tr>
            <tr><td>Last Name</td><td>{{lastname}}</td></tr>
            <tr><td>Phone Type</td><td>{{prefphone}}</td></tr>
            <tr><td>Phone Number</td><td>{{phonenumber}}</td></tr>
            <tr><td>Email</td><td>{{email}}</td></tr>
            <tr><td>Account Type</td><td>{{accounttype}}</td></tr>
            {{/contact}}
            {{#detail}}
            <tr><td>Address Line 1</td><td>{{addressline1}}</td></tr>
            <tr><td>Address Line 2</td><td>{{addressline2}}</td></tr>
            <tr><td>City</td><td>{{addresscity}}</td></tr>
            <tr><td>State</td><td>{{addressstate}}</td></tr>
            <tr><td>Zip Code</td><td>{{addresszip}}</td></tr>
            <tr><td>Marital Status</td><td>{{maritalstatus}}</td></tr>
            <tr><td>Number of Dependents</td><td>{{dependants}}</td></tr>
            <tr><th colspan="2">Employment Details</th></tr>
            <tr><td>Employment Status</td><td>{{empploymentstatus}}</td></tr>
            <tr><td>Job Title</td><td>{{jobtitle}}</td></tr>
            <tr><td>Occupation</td><td>{{occupation}}</td></tr>
            <tr><td>Employer Name</td><td>{{employername}}</td></tr>
            <tr><td>Time at Employer</td><td>{{employertime}} year(s)</td></tr>
            <tr><td>Work Address</td><td>{{employeraddress}}</td></tr>
            <tr><td>Suite</td><td>{{employersuite}}</td></tr>
            <tr><td>City</td><td>{{employercity}}</td></tr>
            <tr><td>State</td><td>{{employerstate}}</td></tr>
            <tr><td>Zip Code</td><td>{{employerzip}}</td></tr>
            <tr><th colspan="2">Identity Details</th></tr>
            <tr><td>Date of Birth</td><td>{{dateofbirth}}</td></tr>
            <tr><td>Citizenship</td><td>{{citizenship}}</td></tr>
            <tr><td>Tax ID Type</td><td>{{taxidtype}}</td></tr>
            <tr><td>Tax Id Number</td><td>{{taxidnumber}}</td></tr>
            <tr><td>Identity Document</td><td>{{identitydocument}}</td></tr>
            <tr><td>Issued By</td><td>{{identityissuer}}</td></tr>
            <tr><td>Identity Number</td><td>{{identitynumber}}</td></tr>
            <tr><td>Issued Date</td><td>{{identityissuedate}}</td></tr>
            <tr><td>Expiration Date</td><td>{{identityexpiredate}}</td></tr>
            <tr><th colspan="2">Account & Suitability Details</th></tr>
            <tr><td>Account Type</td><td>{{accounttype}}</td></tr>
            <tr><td>Customer Type</td><td>{{customertype}}</td></tr>
            <tr><td>Securities Industry Association</td><td>{{associated}}</td></tr>
            <tr><td>Type of Association</td><td>{{associatedtype}}</td></tr>
            <tr><td>Associated Organization</td><td>{{associatedorganization}}</td></tr>
            <tr><td>Public Company Association</td><td>{{pubco}}</td></tr>
            <tr><td>Public Company Name</td><td>{{pubconame}}</td></tr>
            <tr><td>Policially Exposed Person</td><td>{{pep}}</td></tr>
            <tr><td>PEP Country</td><td>{{pepcountry}}</td></tr>
            <tr><td>Investment Objective</td><td>{{investmentobjective}}</td></tr>
            <tr><td>Investment Experience</td><td>{{investmentexperience}}</td></tr>
            <tr><td>Risk Tolerance</td><td>{{risktolerance}}</td></tr>
            <tr><td>Investment Time Horizon</td><td>{{timehorizon}}</td></tr>
            <tr><td>Liquidity Requirements</td><td>{{liquidity}}</td></tr>
            <tr><td>Annual Income</td><td>{{income}}</td></tr>
            <tr><td>Net Worth</td><td>{{networth}}</td></tr>
            <tr><td>Tax Status</td><td>{{taxstatus}}</td></tr>
            {{/detail}}
        </table>
        <form action="/users/accountdetails/{{contact.id}}" method="POST">
            <div class="form-check form-check-inline">
                <label for="approved" class="form-check-label">Approved</label>
                <input type="radio" class="form-check-input" id="approved" name="status" value="approved">
            </div>
            <div class="form-check form-check-inline">
                <label for="pending" class="form-check-label">Pending</label>
                <input type="radio" class="form-check-input" id="pending" name="status" value="pending">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{{> footer}}