{{> header}}
    <title>COD Buy</title>
</head>
<body>
    <div class="container">
        {{> menu}}
        <h2>ATS Demo - Order Funding and Approval</h2>
        <hr>
        <h3>Order Details</h3>
        <table>
            <tr><th>Buy/Sell</th><th>Stock Name</th><th>Shares</th><th>Limit</th></tr>
            <tr><td><span class="greentext bold">BUY</span></td><td>{{stock.name}}</td><td>{{shares}}</td><td>{{price}}</td></tr>
        </table>
        <h3>Funding/Settlement</h3>
        <p>Per the Subscriber Agreement I, {{user.firstname}} {{user.lastname}}, instruct the Transfer Agency, through the API connection with Vex ATS, to fund a Consideration on Demand Order in my account in the amount of <span class="greentext bold">${{amount}}</span> which represents the limit price consideration plus a 0.5% total fee.</p>
        <form action="/users/place-buy-order" method="POST">
            <input type="hidden" name="stockid" value="{{stock.id}}" />
            <input type="hidden" name="type" value="buy" />
            <input type="hidden" name="size" value="{{shares}}" />
            <input type="hidden" name="price" value="{{price}}" />
            <input type="hidden" name="amount" value="{{amount}}" />
            <input type="hidden" name="status" value="funded" />
            <button type="submit" class="btn btn-success">Place Buy Order and Fund</button>
        </form>
        {{#message}}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {{/message}}
    </div>
{{> footer}}
<!--
        <tr></tr>
        <th></th>
        <td></td>
        -->