{{> header}}
    <title>Chart Trial</title>
</head>
<body>
    <div class="container">
        {{> menu}}
        <div class="row">
            <div class="col-6">
                <h1>Chart - Bid/Offer Example</h1>
                <div class="chart">
                    
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <h2>Bid</h2>
                    <div class="input-group">
                        <span class="input-group-text" id="labelText">Bid Price</span>
                        <input type="number" class="form-control" id="bidprice" min="10" max="10.1" step="0.01" value="10">
                        <span class="input-group-text" id="labelText">Bid Shares</span>
                        <input type="number" class="form-control" id="bidshares" min="0" value="100">
                        <button class="btn btn-success" onclick="placeBid()" id="bidbutton">Place Bid</button>
                    </div>
                </div>
                <div class="row">
                    <h2>Ask</h2>
                    <div class="input-group">
                        <span class="input-group-text" id="labelText">Offer Price</span>
                        <input type="number" class="form-control" id="askprice" min="10" max="10.10" step="0.01" value="10.08">
                        <span class="input-group-text" id="labelText">Offer Shares</span>
                        <input type="number" class="form-control" id="askshares" min="0" value="100">
                        <button class="btn btn-danger" onclick="placeOffer()" id="askbutton">Place Offer</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <h2>Log</h2>
            <ol id="tradelog">

            </ol>
        </div>
    </div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script> -->
{{> footer}}