{{> header}}
    <title>Vex Control Panel</title>
</head>
<body>
    <div class="container">
        {{> principalmenu}}
        <h2>ATS Demo - Vex Control Panel</h2>
        <hr>
        <h3>Submitted Accounts pending review</h3>
        <div class="list-group">
            <ul>
                {{#users}}
                <div class="row">
                <div class="col-4 bold">{{firstname}} {{lastname}}</div>
                </div>
                <div class="row">
                <div class="col-2">{{prefphone}}</div>
                <div class="col-2">{{phonenumber}}</div>
                </div>
                <div class="row">
                <div class="col-4">{{email}}</div>
                </div>
                <div class="row">
                <div class="col-2">Account Type:</div>
                <div class="col-2">{{accounttype}}</div>
                </div>
                <div class="row">
                <div class="col-2">Status:</div>
                <div class="col-2">{{status}}</div>
                </div>
                <a href="/users/accountdetails/{{id}}"><button class="btn btn-info">Review Account</button></a>
                {{/users}}        
            </ul>
        </div>
        <hr>
        <h3>Orders</h3>
        <table>
            <tr><th>Index</th><th>User</th><th>Stock</th><th>Buy/Sell</th><th>Shares</th><th>Price</th><th>MSHF Cert</th><th>Timestamp</th></tr>
            {{#orders}}
            <tr>
            <td>{{id}}</td>
            <td>{{firstname}} {{lastname}}</td>
            <td>{{name}}</td>
            <td>{{type}}</td>
            <td>{{size}}</td>
            <td>{{price}}</td>
            <td><a href="/users/certificate/{{mshfid}}">{{mshfid}}</a></td>
            <td>{{updatedAt}}</td>
            </tr>
            {{/orders}}
        </table>
        <hr>
        <h3>Trade Matches</h3>
        <table>
            <tr><th>Index</th><th>Stock</th><th>Buy Order</th><th>Sell Order</th><th>Shares</th><th>Price</th><th>Status</th><th>Timestamp</th></tr>
            {{#matches}}
            <tr>
            <td>{{id}}</td>
            <td>ABC SaaS Inc</td>
            <td><a href="/users/buyorder/{{buyid}}">{{buyid}}</a></td>
            <td><a href="/users/sellorder/{{sellid}}">{{sellid}}</a></td>
            <td>{{size}}</td>
            <td>{{price}}</td>
            <td>{{status}}</td>
            <td>{{updatedAt}}</td>
            </tr>
            {{/matches}}
        </table>
        <hr>
        <div class="row">
            <div class="col">
                <h3>Message to Transfer Agent - COD Buy Contracts</h3>
                <table>
                    <tr><th>Index</th><th>User</th><th>Amount</th><th>Status</th></tr>
                    {{#codbuys}}
                    <tr>
                    <td>{{id}}</td>
                    <td>{{firstname}} {{lastname}}</td>
                    <td>{{amount}}</td>
                    <td>{{status}}</td>
                    </tr>
                    {{/codbuys}}
                </table>
            </div>
            <div class="col">
                 <h3>Message to Transfer Agent - COD Sell Contracts</h3>
                <table>
                    <tr><th>Index</th><th>MSHF Cert</th><th>Shares</th><th>Status</th></tr>
                    {{#codsells}}
                    <tr>
                    <td>{{id}}</td>
                    <td><a href="/users/certificate/{{mshfid}}">{{mshfid}}</a></td>
                    <td>{{amount}}</td>
                    <td>{{status}}</td>
                    </tr>
                    {{/codsells}}
                </table>
            </div>
        </div>
        <hr>
        <h3>Trade Log <-> COD Log</h3>
        <table>
            <tr><th>Index</th><th>COD Sell</th><th>COD Buy</th><th>Shares</th><th>Amount</th></tr>
            {{#codlogs}}
            <tr>
            <td>{{id}}</td>
            <td>{{sellid}}</td>
            <td>{{buyid}}</td>
            <td>{{shares}}</td>
            <td>{{dollars}}</td>
            </tr>
            {{/codlogs}}
        </table>
        <hr>
        {{#message}}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    {{/message}}
    </div>
{{> footer}}
<!--
        <tr></tr>
        <th></th>
        <td></td>
        -->