{{> header}}
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        {{> menu}}
        <h2>ATS Demo - Dashboard</h2>
        <hr>
        <h3>Markets</h3>
        <p>This will come last</p>
        <!--
        <tr></tr>
        <th></th>
        <td></td>
        -->
        <h3>Orders</h3>
        <table>
            <tr><th>Stock</th><th>Type</th><th>Size</th><th>Price</th></tr>
        {{#orders}}
            <tr><td>{{stockid}}</td><td>{{type}}</td><td>{{size}}</td><td>${{price}}</td></tr>
        {{/orders}}
        </table>
        <h3>Holdings</h3>
        <table>
            <tr><th>Stock</th><th>Holding</th><th>Status</th></tr>
        {{#holdings}}
            <tr><td>{{stockid}}</td><td>{{holding}}</td><td>{{status}}</td></tr>
        {{/holdings}}
        </table>
        {{#message}}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {{/message}}
    </div>
{{> footer}}