{{> header}}
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        {{> menu}}
        <h2>ATS Demo - Dashboard</h2>
        <hr>
        <h3>Market - ABC SaaS Inc</h3>
        <table>
            <tr><th class="redtext">Offers</th><th>Size</th><th>Price</th></tr>
        {{#asks}}
            <tr><td></td><td>{{size}}</td><td>{{price}}</td></tr>
        {{/asks}}
            <tr><th class="greentext">Bids</th><th>Size</th><th>Price</th></tr>
        {{#bids}}
            <tr><td></td><td>{{size}}</td><td>{{price}}</td></tr>
        {{/bids}}
        </table>
        <table>
            <tr><th>Trades</th><th>Size</th><th>Price</th></tr>
        {{#trades}}
            <tr><td>{{id}}</td><td>{{size}}</td><td>{{price}}</td></tr>
        {{/trades}}
        </table>
        <!--
        <tr></tr>
        <th></th>
        <td></td>
        -->
        <h3>Orders</h3>
        <table>
            <tr><th>Stock</th><th>Type</th><th>Size</th><th>Price</th><th>Cancel</th></tr>
        {{#orders}}
            <tr><td>{{name}}</td><td>{{type}}</td><td>{{size}}</td><td>${{price}}</td>
            <td>
                <form action="/users/delete-order" method="POST">
                    <input type="hidden" name="orderId" value="{{id}}" />
                    <input type="hidden" name="orderType" value="{{type}}" />
                    <button type="submit" class="btn btn-danger">Cancel</button>
                </form>
            </td>
            </tr>
        {{/orders}}
        </table>
        <a href="/users/orders"><button class="btn btn-info">Go to Order Page</button></a>
        <h3>Holdings</h3>
        <table>
            <tr><th>Stock</th><th>Holding</th><th>Status</th></tr>
        {{#holdings}}
            <tr><td>{{name}}</td><td>{{holding}}</td><td>{{status}}</td></tr>
        {{/holdings}}
        </table>
        {{#message}}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {{/message}}
    </div>
{{> footer}}