{{> header}}
    <title>Master Securities Holder File</title>
</head>
<body>
    <div class="container">
        {{> principalmenu}}
        <h2>ATS Demo - {{name}}'s MSHF Control Panel</h2>
        <hr>
        <form action="/users/mshf-add" method="POST">
            <div class="form-group">
                <label class="form-label" for="userid">User ID</label>
                <input type="number" name="userid" class="form-control" id="userid" />
            </div>
            <div class="form-group">
                <label class="form-label" for="stockid">Stock ID</label>
                <input type="number" name="stockid" class="form-control" id="stockid" />
            </div>
            <div class="form-group">
                <label class="form-label" for="holding">Holding</label>
                <input type="number" name="holding" class="form-control" id="holding" />
            </div>
            <div class="form-group">
                <label class="form-label" for="status">Status</label>
                <input type="text" name="status" class="form-control" id="status" />
            </div>
        <button type="submit" class="btn btn-primary">Save</button>
        </form>
        {{#message}}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {{/message}}
    </div>
{{> footer}}   