{{> header}}
    <title>Master Securities Holder File</title>
</head>
<body>
    <div class="container">
        {{> principalmenu}}
        <h2>ATS Demo - MSHF Control Panel</h2>
        <hr>
        <table>
            <tr><th>Customer</th><th>Stock</th><th>Amount</th><th>Status</th><th></th></tr>
            {{#holders}}
            <tr>
                <td>{{firstname}} {{lastname}}</td>
                <td>{{name}}</td>
                <td>{{holding}}</td>
                <td>{{status}}</td>
                <td><a href="/users/mshf-holding/{{id}}"><button class="btn btn-info">Edit</button></a></td>
            </tr>
        {{/holders}}
        </table>
    </div>
{{> footer}}   