{{> header}}
    <title>Master Securities Holder File</title>
</head>
<body>
    <div class="container">
        {{> menu}}
        <h2>ATS Demo - MSHF Control Panel</h2>
        <hr>
        <div class="list-group">
            <ul>
                {{#holders}}
                <div class="row">
                    <div class="col-1">
                        {{userid}}
                    </div>
                    <div class="col-1">
                        {{stockid}}
                    </div>
                    <div class="col-2">
                        {{holding}}
                    </div>
                    <div class="col-2">
                        {{status}}
                    </div>
                </div>
                <input type="hidden" name="mshfid" value={{id}} />
                <a href="/users/mshf-holding/{{id}}"><button class="btn btn-info">Edit</button></a>
                {{/holders}}
            </ul>
        </div>
    </div>
{{> footer}}   