{{> header}}
    <title>Regulator Page</title>
</head>
<body>
    <div class="container">
        {{> menu}}
        <h2>ATS Demo - Regulator Panel</h2>
        <hr>
        <p>Hi {{name}}, give us a minute. <br />
        Planning to put a bunch of prepopulated queries here.</p>
    </div>
{{> footer}}   