{{> header}}
    <title>Stockapp</title>
</head>
<body>
    <div class="container">
        {{> stocksearch}}
        <p>
            <a href="/users/controlpanel"><button class="btn btn-success">Return to Control Panel</button></a>
        </p>
    </div>
{{> footer}}