{{> header}}
    <title>Error: Painting The Tape</title>
</head>
<body>
    <div class="container">
        {{> menu}}
        <h2>ATS Demo - Tape Painting Error Message</h2>
        <p>
            Unfortunately, an offer of ${{price}} matches a bid you placed earlier which, if executed, would create false trading activity.
        </p>
        <p>
            <a href="/users/dashboard"><button class="btn btn-success">Return to Dashboard</button></a>
        </p>
    </div>
{{> footer}}