{{> header}}
    <title>COD Sell</title>
</head>
<body>
    <div class="container">
        {{> menu}}
        <h2>ATS Demo - Order Funding and Approval</h2>
        <hr>
        <h3>Order Details</h3>
        <table>
            <tr><th>Buy/Sell</th><th>Stock Name</th><th>Shares</th><th>Limit</th></tr>
            <tr><td><span class="redtext bold">SELL</span></td><td>{{stock.name}}</td><td>{{shares}}</td><td>{{price}}</td></tr>
        </table>
        <h3>Funding/Settlement</h3>
        <p>Per the Subscriber Agreement I, {{user.firstname}} {{user.lastname}}, agree to fund a Consideration on Demand Order at Flux Registry in my account with the Certificate selected below:</p>
        <table>
            <tr><th>Select</th><th>Stock</th><th>Holding</th></tr>
        {{#}}
            <tr><td></td><td></td><td></td></tr>
        {{/}}
        </table>
        <form action="/users/place-buy-order" method="POST">
            <input type="hidden" name="stockid" value="{{stock.id}}" />
            <input type="hidden" name="type" value="buy" />
            <input type="hidden" name="size" value="{{shares}}" />
            <input type="hidden" name="price" value="{{price}}" />
            <input type="hidden" name="amount" value="{{amount}}" />
            <input type="hidden" name="status" value="funded" />
            <button type="submit" class="btn btn-success">Place Buy Order and Fund</button>
        </form>
        {{#message}}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {{/message}}
    </div>
{{> footer}}
<!--
        <tr></tr>
        <th></th>
        <td></td>
        -->