{{> header}}
    <title>COD Sell</title>
</head>
<body>
    <div class="container">
        {{> menu}}
        <h2>ATS Demo - Order Funding and Approval</h2>
        <hr>
        <h3>Order Details</h3>
        <table>
            <tr><th>Buy/Sell</th><th>Stock Name</th><th>Shares</th><th>Limit</th></tr>
            <tr><td><span class="redtext bold">SELL</span></td><td>{{stock.name}}</td><td>{{shares}}</td><td>{{price}}</td></tr>
        </table>
        <h3>Funding/Settlement</h3>
        <p>Per the Subscriber Agreement I, {{user.firstname}} {{user.lastname}}, instruct the Transfer Agency, through the API connection with Vex ATS, to fund a Consideration on Demand Order in my account with the Certificate selected below. <br /> If matched in part or in whole, I agree to pay a total fee of 0.5% from the proceeds.</p>
        <form action="/users/place-sell-order" method="POST">
            <table>
                <tr><th>Certificate</th><th>Holding</th><th>Status</th></tr>
            {{#mshf}}
                <tr><td><input type="checkbox" class="form-check-input" name="mshfid" value="{{id}}"></td><td>{{holding}}</td><td>{{status}}</td></tr>
            {{/mshf}}
            </table>
            <input type="hidden" name="stockid" value="{{stock.id}}" />
            <input type="hidden" name="type" value="sell" />
            <input type="hidden" name="size" value="{{shares}}" />
            <input type="hidden" name="price" value="{{price}}" />
            <input type="hidden" name="status" value="funded" />
            <input type="hidden" name="mshfstatus" value="cod" />
            <button type="submit" class="btn btn-danger">Place Sell Order and Instruct Transfer Agent</button>
        </form>
        {{#message}}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {{/message}}
    </div>
{{> footer}}
<!--
        <tr></tr>
        <th></th>
        <td></td>
        -->