{{> header}}
    <title>Testing</title>
</head>
<body>
    <div class="container">
        {{> principalmenu}}
        <h2>ATS Demo - Testing DB query</h2>
        <img src="/images/pie.png" alt="chart">
        <p>
            <a href="/users/controlpanel"><button class="btn btn-success">Return to Control Panel</button></a>
        </p>
    </div>
{{> footer}}