{{> header}}
    <title>Testing</title>
</head>
<body>
    <div class="container">
        {{> prinicipalmenu}}
        <h2>ATS Demo - Testing DB query</h2>
        <p>
            The id for the sellid on a trade is: {{sellid}}
        </p>
        <p>
            <a href="/users/controlpanel"><button class="btn btn-success">Return to Control Panel</button></a>
        </p>
    </div>
{{> footer}}